@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

:root {
  --header-height: 3rem;
  
  --hue-color: 228;
  
  --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
  
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  
  --font-medium: 500;
  --font-semi-bold: 600;
  
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  
  --z-tooltip: 10;
  --z-fixed: 100;
  
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 54%, 12%);
  --title-color: hsl(var(--hue-color), 24%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 29%, 12%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

.nav_dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height)0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

.section {
  padding: 4.5rem 0 2.5rem;
}

.section_title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_toggle {
  color: var(--white-color);
}

.nav_logo {
  font-weight: var(--font-semi-bold);
}

.nav_toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav_menu {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
    padding: 3rem;
    transition: .4s;
  }
}

.nav_list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav_link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav_link:hover {
  color: var(--text-color);
}

.nav_close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.show-menu {
  right: 0;
}

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, .15);
}

.scroll-header .nav_logo,
.scroll-header .nav_toggle {
  color: var(--title-color);
}

.active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  content: '';
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -.75rem;
  left: 0;
}

.home_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home_container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home_data-subtitle,
.home_data-title,
.home_social-link,
.home_info {
  color: var(--white-color);
}

.home_data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home_data-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

.home_social {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.home_social-link {
  font-size: 1.2rem;
  width: max-content;
}

.home_info {
  background-color: var(--first-color);
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: .5rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 228px;
}

.home_info-title {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home_info-button {
  font-size: var(--smaller-font-size);
}

.home_info-overlay {
  overflow: var(--img-hidden);
}

.home_info-img {
  width: 145px;
  transition: var(--img-transition);
}

.home_info-img:hover {
  transform: var(--img-scale);
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button--flex {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.button--link {
  background: none;
  padding: 0;
}

.button--link:hover {
  background: none;
}

.about_data {
  text-align: center;
}

.about_container {
  row-gap: 2.5rem;
}

.about_description {
  margin-bottom: var(--mb-2);
}

.about_img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.about_img-overlay {
  overflow: var(--img-hidden);
}

.section_title {
  align-items: center;
}

.about_img-one {
  width: 300px;
}

.about_img-two {
  width: 300px;
}

.about_img-one,
.about_img-two {
  transition: var(--img-transition);
}

.about_img-one:hover,
.about_img-two:hover {
  transform: var(--img-scale);
}

.discover_card {
  position: relative;
  width: 400px;
  overflow: var(--img-hidden);
  padding-top: 50px;
}

.discover_data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
  text-align: center;
}

.discover_title,
.discover_description {
  color: var(--white-color);
}

.discover_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.discover_description {
  display: block;
  font-size: var(--smaller-font-size);
}

.discover_img {
  transition: var(--img-transition);
}

.discover_img:hover {
  transform: var(--img-scale);
}

.swiper-container .swiper-slide-shadow-left,
.swiper-container .swiper-slide-shadow-right {
  background-image: none;
}

.sponsor_container {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  row-gap: 3.5rem;
}

.sponsor_img {
  width: 90px;
  filter: invert(.7);
}

.sponsor_content:hover .sponsor_img {
  filter: invert(.5);
}

.footer_container {
  row-gap: 5rem;
}

.footer_content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer_title,
.footer_subtitle {
  font-size: var(--h3-font-size);
}

.footer_title {
  margin-bottom: var(--mb-0-5);
}

.footer_description {
  margin-bottom: var(--mb-2);
}

.footer_social {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-bottom: var(--mb-1-25);
}

.footer_subtitle {
  margin-bottom: var(--mb-1);
}

.footer_item {
  margin-bottom: var(--mb-0-75);
}

.footer_link {
  color: var(--text-color);
}

.footer_link:hover {
  color: var(--title-color);
}

.footer_rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer_copy,
.footer_terms-link {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.footer_terms {
  display: flex;
  column-gap: 2.5rem;
  justify-content: center;
}

.footer_terms-link:hover {
  color: var(--text-color);
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color-alt);
  padding: .5rem;
  display: flex;
  opacity: .9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup_icon {
  color: var(--white-color);
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.show-scroll {
  bottom: 5rem;
}

::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

@media screen and (max-width: 340px) {
  .home_info {
    width: 190px;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  
  .nav_link {
    color: var(--white-color);
    text-transform: initial;
  }
  
  .nav_link:hover {
    color: var(--white-color);
  }
  
  .nav_dark {
    position: initial;
  }
  
  .nav_menu {
    display: flex;
    column-gap: 1rem;
  }
  
  .nav_list {
    flex-direction: row;
    column-gap: 4rem;
  }
  
  .nav_toggle,
  .nav_close,
  .change-theme-name {
    display: none;
  }
  
  .change-theme {
    color: var(--white-color);
  }
  
  .active-link::before {
    background-color: var(--white-color);
  }
  
  .scroll-header .nav_link {
    color: var(--text-color);
  }
  
  .scroll-header .active-link {
    color: var(--title-color);
  }
  
  .scroll-header .active-link::before {
    background-color: var(--title-color);
  }
  
  .scroll-header .change-theme {
    color: var(--text-color);
  }
  
  .section {
    padding: 7rem 0 2rem;
  }
  
  .home_container {
    height: 100vh;
    grid-template-rows: 1.8fr .5fr;
  }
  .home_data {
    align-self: flex-end;
  }
  
  .home_social {
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 3rem;
    column-gap: 2.5rem;
  }
  
  .home_info {
    bottom: 3rem;
  }
  
  .about_title{
    margin-bottom: var(--mb-1-5);
  }
  
  .about_description {
    margin-bottom: var(--mb-2);
  }
  
  .discover_container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .discover_container {
    padding-top: 2rem;
  }
  
  .footer_rights {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  
  .home_data {
    align-self: flex-end;
    padding-top: 7em;
  }
  
  .home_info {
    width: 328px;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
  
  .home_info-title {
    font-size: var(--normal-font-size);
  }
  
  .home_info-img {
    width: 240px;
  }
  
  .about_img-one {
    width: 400px;
  }
  .about_img-two {
    width: 400px;
  }
  
  .discover_card {
    width: 350px;
  }
  
  .discover_container {
    width: 700px;
  }
  
  .discover_data {
    left: 1.5rem;
    bottom: 2rem;
  }
  
  discover_title {
    font-size: var(--h2-font-size);
  }
}

@media screen and (min-width: 1200px) {
  container {
    max-width: 1024px;
  }
}

@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
  
  .home_container,
  .home_img {
    height: 640px;
  }
}